<% title "Orders for #{@laboratory.name}" %>

<h2 style="display:inline;float:left;">Orders for <%= link_to @laboratory.name, @laboratory %></h2>
<% form_tag laboratory_inventories_path(@laboratory), :method => :get, :class => "fr" do %>
	<%= text_field_tag :search, params[:search], :placeholder => "Search Orders..." %>
	<%= submit_tag "Search" %>
<% end %>

<div class="clear"></div>

<p class="bs"><%= link_to "Place new order", new_laboratory_inventory_path %></p>

<table width="98%" border="0" cellpadding="5" cellspacing="5" class="border-table" style="margin:auto;" id="inventory">
  <tr style="font-weight:bold;">
		<td align="center">id</td>
		<td align="center">Vendor</td>
		<td align="center">Catalog #</td>
		<td align="center">Quantity</td>
    <td align="center">Description</td>
		<td align="center">Ordered By</td>
		<td align="center">Order Placed</td>
		<td align="center">Order Processed</td>
		<% if current_user.role == "admin" %>
			<td align="center">&nbsp;</td>
		<% end %>
  </tr>

	<%= render :partial => 'inventory', :collection => @inventories %>

</table>