<% title "New Order" %>

<h2>Place New Order</h2>

<% form_for [@laboratory, @inventory] do |f| %>
	
	<p><%= f.label :vendor %><br />
  <%= f.text_field :vendor %></p>

	<p><%= f.label :catalog_number %><br />
  <%= f.text_field :catalog %></p>

	<p><%= f.label :quantity %><br />
  <%= f.text_field :quantity %></p>

	<p><%= f.label :catalog_url %> (include http://)<br />
  <%= f.text_field :url %></p>

	<p><%= f.label :description %><br />
  <%= f.text_area :description, :style => "height: 60px;" %></p>

	<p><%= f.submit "Submit Order" %></p>
	
<% end %>