<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<link href="http://labcollaborate.heroku.com/stylesheets/css.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1><a href="http://www.labcollaborate.com/"><img src="http://labcollaborate.heroku.com/images/logo-email.png" alt="Lab Collaborate"></a></h1>
			<p>
	      Dear <%= @user.name %>,
	    </p>
			
			<p>Thanks for signing up with our new network! We hope to make it useful for labs internally and for communicating with other scientists. Here's a quick overview of how it works so far:</p>

			<p><strong>1. Lab home page:</strong> this is the page you see when you sign in. All the lab members profiles appear across the top, and you can see individual contact info and research interests (as well as update your own) by clicking on the pictures. </p>

			<p><strong>2. Whiteboard:</strong>  Here you can post comments or questions- they will be seen by your lab as well as your lab friends, but not by labs you are not friends with.</p>

			<p><strong>3. Friends:</strong>  These are labs you want to keep in touch with and share data with. They can see and download all protocols, presentations and papers in your Library (unless marked "visible to my lab only") as well as write on your whiteboard. A newsfeed to keep updated with what they're doing is coming soon.</p>

			<p><strong>4. Libraries:</strong>  These are collections of papers, presentations and protocols. Files can be tagged with keywords to organize into projects, ideas, lab members, whatever. And they are searchable! So you can group any number of protocols, literature references and presentations by whatever tag(s) you choose and find them all later with a simple search.</p>

			<p><strong>5. Ordering:</strong>  The ordering system records vendor, quantity, and description as well as providing a direct link to the product page. It is also searchable to easily find past orders.</p>

			<p><strong>6. Find collaborators:</strong>  The search box at the top of the page searches for words in the research interests of all labs and lab members on the network. So if you want to find other labs interested in "cancer", just search and connect with new friends.</p>

			<p>Stay tuned, more features are soon to come!<br />
			If you have any questions or comments, feel free to email back to this address.</p>
			
			<p>To sign in and get started visit the <%= link_to "site", root_url %>, and login with these credentials:</p>

			<p><strong>Email Address:</strong> <%= @user.email %></p>
			<p><strong>Password:</strong> <%= @password %></p>

			<p>Once you login, you'll probably want to change your password to something more memorable!</p>

			<p>Have fun!<br />
			The <%= link_to "Lab Collaborate", root_url %> Team</p>

  </body>
</html>

