<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<link href="http://labcollaborate.heroku.com/stylesheets/css.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1><a href="http://www.labcollaborate.com/"><img src="http://labcollaborate.heroku.com/images/logo-email.png" alt="Lab Collaborate"></a></h1>
			<p>
	      Dear <%= @user.name %>,
	    </p>
	
			<p>You were signed up to Lab Collaborate by your colleague <%= @inviter.name %>.
			
			<p>To sign in and get started visit the <%= link_to "site", root_url %>, and login with these credentials:</p>

			<p><strong>Email Address:</strong> <%= @user.email %></p>
			<p><strong>Password:</strong> <%= @password %></p>

			<p>Once you login, you'll probably want to change your password to something more memorable!</p>
			
			<p>Thanks for signing up with our <%= link_to "new network", root_url %>! We hope to make it useful for labs internally and for communicating with other scientists. Here's a quick overview of how it works so far:</p>

			<p><strong>1. Lab Home Page:</strong>this is the page you see when you sign in. All the lab members profiles appear across the top, and you can see individual contact info and research interests (as well as update your own) by clicking on the pictures. You can post comments or questions on the whiteboard- they will be seen by your lab and your friends.</p>

			<p><strong>2. Activity stream:</strong> Here you can see what is happening with your fellow labs- new research interests, collaborators and files as well as questions/comments. If you want to post something to the stream, just write it on your lab whiteboard and it will go into your friends feed. Or, if you want to keep it private mark "visible to my lab only" and it stays with your lab.</p>

			<p><strong>3. Libraries:</strong> These are collections of papers, presentations, data, protocols and lab pictures. Files can be tagged with keywords to organize into projects, ideas, lab members, whatever. And they are searchable! So you can group any number of protocols, literature references and presentations by whatever tag(s) you choose and find them all later with a simple search.</p>

			<p><strong>4. Feeds:</strong> Keep track of what is happening in the literature- this page displays the headlines from journals you select. On one page, you can easily scan headlines from Nature, Cell, Cancer Research or whatever other publications you choose.</p>

			<p><strong>5. Find collaborators:</strong> The search box at the top of the page searches for words in the research interests of all labs and lab members on the network. So if you want to find other labs interested in "cancer", just search and connect with new friends. Or use the "browse" link- this lists all the schools and labs currently on the network.</p>

			<p><strong>6. Ordering:</strong> The ordering system records vendor, quantity, and description as well as providing a direct link to the product page. It is also searchable to easily find past orders.</p>

			<p>Stay tuned, more features are soon to come!<br />
			If you have any questions or comments, feel free to email back to this address.</p>

			<p>Have fun!<br />
			The <%= link_to "Lab Collaborate", root_url %> Team</p>

  </body>
</html>

