<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<link href="http://labcollaborate.heroku.com/stylesheets/css.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1><a href="http://www.labcollaborate.com/"><img src="http://labcollaborate.heroku.com/images/logo-email.png" alt="Lab Collaborate"></a></h1>
			<p>
	      Dear <%= @user.name %>,
	    </p>
			
			<p>
				<%= link_to @sender.name, user_url(@sender) %> has sent you a message via LabCollaborate:
			</p>

			<h2><%= @title %></h2>

			<h3><%= @message %></h3>

			<p>If you would like to respond to this message, do it via their profile <%= link_to "here", user_url(@sender) %> or just respond to this email directly.</p>

			<p>Have fun!<br />
			The <%= link_to "Lab Collaborate", root_url %> Team</p>

  </body>
</html>

