<div class="fl sidenav">

	<% title "#{@laboratory.name}" %>
	
	<h1><%= @laboratory.name %></h1>
	<h3><%= link_to @laboratory.school.name, school_path(@laboratory.school) %></h3>
	<nav id="laboratory">
		<ul>
			<li><%= link_to_unless_current "Lab Members", laboratory_members_path(@laboratory) %></li>
			<% if user_signed_in? %>
				<% if current_user.pending_laboratory == @laboratory %>
					<li>You are waiting approval by an admin to be admitted to this lab page.</li>
				<% elsif !@laboratory.users.include?(current_user) && current_user.laboratory.nil? && current_user.pending_laboratory.nil? %>
					<li><%= link_to "I work in this lab", add_affiliate_path(:laboratory_id => @laboratory.id) %></li>
				<% end %>
			<% end %>
				<li id="friend"><%= render :partial => 'laboratories/friend' %></li>
		</ul>
	</nav>
	
	<% unless @laboratory.results_of_the_week.nil? %>
		<p class="ts bs">
			<%= link_to laboratory_results_of_the_week_path(@laboratory) do %>
				<h2>Results of the Week</h2>
				<%= image_tag @laboratory.results_of_the_week.attachment.url(:tiny) %><br />
				<%= @laboratory.results_of_the_week.caption %>
			<% end %>
		</p>
	<% end %>
	
	<p class="ts bs" id="info">
		<%= @laboratory.info %>
	</p>
	
	<% if user_signed_in? %>
		
		<%= render :partial => 'laboratories/affiliates' %>
	
		<h2 class="ts">Friends (<%= @laboratory.collaborators.count %>)</h2>
		<ul>
			<% @laboratory.collaborators.each do |friend| %>
				<li>
					<%= link_to friend.name, laboratory_path(friend) %>
				</li>
			<% end %>
		</ul>
	
	<% end %>

</div>