<div class="fl sidenav">

	<% title "#{@laboratory.name}" %>
	
	<h1><%= @laboratory.name %></h1>
	<h3><%= link_to @laboratory.school.name, school_path(@laboratory.school) %></h3>
	<nav id="laboratory">
		<ul>
			<li><%= link_to_unless_current "Lab Members", laboratory_members_path(@laboratory) %></li>
			<% if current_user.pending_laboratory == @laboratory %>
				<li>You are waiting approval by an admin to be admitted to this lab page.</li>
			<% elsif !@laboratory.users.include?(current_user) && current_user.laboratory.nil? && current_user.pending_laboratory.nil? %>
				<li><%= link_to "I work in this lab", add_affiliate_path(:laboratory_id => @laboratory.id) %></li>
			<% end %>
				<li id="friend"><%= render :partial => 'friend' %></li>
		</ul>
	</nav>
	
	<p class="ts bs" id="info">
		<%= @laboratory.info %>
	</p>
	
	<%= render :partial => 'affiliates' %>
	
	<h2 class="ts">Friends (<%= @laboratory.collaborators.count %>)</h2>
	<ul>
		<% @laboratory.collaborators.each do |friend| %>
			<li>
				<%= link_to friend.name, laboratory_path(friend) %>
			</li>
		<% end %>
	</ul>

</div>