
	<% unless params[:search] %>
		<h3 style="display:inline;float:left;">
			Files for <%= link_to @laboratory.name, @laboratory %> (<%= @protocols.count %>)
		</h3>
	<% else %>
		<h3 style="display:inline;float:left;">
			Search results for <%= link_to @laboratory.name, @laboratory %> Library (<%= @protocols.count %>)
		</h3>
	<% end %>
	
	<% form_tag laboratory_library_path(@laboratory), :method => :get, :class => "fr bs" do %>
		<%= text_field_tag :search, params[:search], :placeholder => "search library..." %>
		<%= submit_tag "Search" %>
	<% end %>
	
	<div class="clear"></div>
	
	<ul id="library">
		<% @protocols.each do |protocol| %>
			<li>
				<div class="fl" style="width:500px">
					<em><%= protocol.name %></em><br />
					Tags: <%= protocol.tag_list %>
				</div>
				<div class="fr" style="margin-top:10px;">
					<%= link_to "Download", protocol.attachment.url(:original, false) %>
				</div>
				<div class="clear"></div>
			</li>
		<% end %>
	</ul>
	
	<div class="clear"></div>
	
</div>

<div class="clear"></div>