<h2 class="ts">Whiteboard</h2>
<% form_for @whiteboard do |f| %>

	<%= f.hidden_field :laboratory_id, :value => @laboratory.id %>

	<p>
		<%= f.label :new_message %><br />
		<%= f.text_area :message, :style => "height:100px;" %>
	</p>
	
	<% if @laboratory == current_user.laboratory %>
		<p style="margin-top:10px;">
			<%= f.label :private, "Visible to my lab only." %>
			<%= f.check_box :private %>
		</p>
	<% end %>
	
	<p><%= f.submit "Post" %></p>
	
<% end %>

<ul class="ts whiteboard">
	<%= nested_messages @whiteboards %>
</ul>
