<% title "#{@laboratory.name}'s Activity Stream" %>

<% if user_signed_in? && current_user.laboratory == @laboratory %>
	<%= render :partial => 'mylabsidenav' %>
<% elsif user_signed_in? && @laboratory.collaborators.include?(current_user.laboratory)  %>
	<%= render :partial => "friendlabsidenav" %>
<% else %>
	<%= render :partial => "anotherlabsidenav" %>
<% end %>

<div class="fl">

	<%= render :partial => 'users' %>

	<h2>Activity Stream of <%= link_to @laboratory.name, @laboratory %></h2>

	<ul class="bs" id="activity_stream">
		<% @activity_stream.each do |event| %>
			<% if event.kind == "friend" %>
				<li>
					<%= link_to "#{event.laboratory.name}", event.laboratory %> is now friends with 
					<%= link_to "#{event.data["name"]}", laboratory_path("#{event.data["friend"]}") %>.
					<%= time_ago_in_words(event.created_at) %> ago.
				</li>
			<% elsif event.kind == "protocol" %>
				<li>
					<%= link_to "#{event.laboratory.name}", event.laboratory %> uploaded a new <%= event.data["category"] %>
					<%= link_to "#{event.data["name"]}", laboratory_library_path(event.laboratory) %>.
					<%= time_ago_in_words(event.created_at) %> ago.
				</li>
			<% elsif event.kind == "whiteboard" %>
				<li>
					<% @user = User.find(event.data["user"]) %>
					<%= link_to user_path(@user) do %>
						<%= image_tag @user.photo.url(:tiny), :class => "fl" %>
					<% end %>
					<span id="activity_string">
						<%= link_to "#{event.data["name"]}", user_path(@user) %> posted on 
						<%= link_to "#{event.laboratory.name}'s", event.laboratory %> whiteboard:
					</span>
					<div class="clear"></div>
					<p class="ts bs"><em>"<%= event.data["message"] %>"</em></p>
					<%= time_ago_in_words(event.created_at) %> ago.
				</li>
				<% elsif event.kind == "profile" %>
					<li>
						<% @user = User.find(event.data["user_id"]) %>
						<%= link_to user_path(@user) do %>
							<%= image_tag @user.photo.url(:tiny), :class => "fl"  %>
						<% end %>
						<span id="activity_string">
							<%= link_to "#{event.data["user_name"]}", user_path(@user) %> 
							updated their <%= link_to "profile", user_path(@user) %>.
							<%= time_ago_in_words(event.created_at) %> ago.
						</span>
						<div class="clear"></div>
					</li>
				<% elsif event.kind == "affiliate" %>
					<li>
						<% @user = User.find(event.data["user_id"]) %>
						<%= link_to user_path(@user) do %>
							<%= image_tag @user.photo.url(:tiny), :class => "fl"  %>
						<% end %>
						<span id="activity_string">
							<%= link_to "#{event.data["name"]}", user_path(@user) %> is now a member of
							<%= link_to event.laboratory.name, event.laboratory %>.
							<%= time_ago_in_words(event.created_at) %> ago.
						</span>
						<div class="clear"></div>
					</li>
				<% elsif event.kind == "results_of_the_week" %>
					<li>
						<%= link_to "#{event.laboratory.name}", event.laboratory %> uploaded a new 
						<%= link_to "results of the week.",laboratory_results_of_the_week_path(event.laboratory) %>
						<%= time_ago_in_words(event.created_at) %> ago.
						<div class="clear"></div>
					</li>
				<% end %>
		<% end %>
	</ul>
	
</div>

<div class="clear"></div>