<% title "Library for #{@laboratory.name}" %>

<% if current_user.laboratory == @laboratory %>
	<%= render :partial => 'mylabsidenav' %>
<% elsif @laboratory.collaborators.include?(current_user.laboratory) %>
	<%= render :partial => "friendlabsidenav" %>
<% end %>

<div class="fl">

<%= render :partial => 'users' %>

<% unless params[:search] %>
	<h2 style="display:inline;float:left;">
		Library for <%= link_to @laboratory.name, @laboratory %> (<%= @laboratory.protocols.count %>)
	</h2>
<% else %>
	<h2 style="display:inline;float:left;">
		Search results for <%= link_to @laboratory.name, @laboratory %> Library (<%= @protocols.count %>)
	</h2>
<% end %>

<% if current_user.laboratory == @laboratory %>
	<%= render :partial => 'mylablibrary' %>
<% elsif @laboratory.collaborators.include?(current_user.laboratory) %>
	<%= render :partial => 'friendlablibrary' %>
<% end %>