<% title "Members of #{@laboratory.name}" %>

<% if user_signed_in? && current_user.laboratory == @laboratory %>
	<%= render :partial => 'mylabsidenav' %>
<% elsif user_signed_in? && @laboratory.collaborators.include?(current_user.laboratory)  %>
	<%= render :partial => "friendlabsidenav" %>
<% else %>
	<%= render :partial => "anotherlabsidenav" %>
<% end %>

<div class="fl">

	<h2>Members of <%= link_to @laboratory.name, @laboratory %> (<%= @laboratory.users.count %>)</h2>

	<ul class="bs" id="members">
		<% @laboratory.users.each do |user| %>
			<li>
				<%= link_to user_path(user) do %>
					<%= image_tag user.photo.url(:thumb) %>
				<% end %>
				<h3><%= link_to user.name, user_path(user) %></h3>
			</li>
			<div class="clear"></div>
		<% end %>
	</ul>
	
</div>

<div class="clear"></div>