<% title "New Lab" %>

<% form_for @laboratory do |f| %>

<p><%= f.label :lab_name %><br />
<%= f.text_field :name %></p>

<p><%= f.label :information_about_this_lab_and_research_interests %><br />
<%= f.text_area :info %></p>


<p><%= f.submit "Create Lab" %></p>

<% end %>