<% title "#{@laboratory.name}" %>

<h1><%= @laboratory.name %></h1>
<h3><%= link_to @laboratory.school.name, school_path(@laboratory.school) %></h3>

<% if current_user.laboratory == @laboratory %>
	<%= render :partial => "mylab" %>
<% elsif @laboratory.collaborators.include?(current_user.laboratory)  %>
	<%= render :partial => "friendlab" %>
<% else %>
	<%= render :partial => "anotherlab" %>
<% end %>
