<% title "#{@user.name}'s Profile"%>

<%= image_tag @user.photo.url(:main), :class => "fl" %>

<div class="fl" style="margin-left:10px;">
	
	<h2><%= @user.name %></h2>
	<h3>
		<%= link_to @user.school.name, school_path(@user.school) %> - 
		<%= link_to @user.laboratory.name, laboratory_path(@user.laboratory) %>
	</h3>
	
	<% if user_signed_in? && @user == current_user %>
		<%= link_to "edit my info", edit_user_registration_path %>
	
	<% elsif user_signed_in? && @user.laboratory == current_user.laboratory && current_user.role == "admin" && @user.role != "admin" %>
		<%= link_to "Edit User", edit_user_path(@user) %><br />
		<%= link_to "Make Admin", make_admin_path(:user_id => @user.id), :confirm => "Are you sure you want to make #{@user.name} an admin?" %><br />
		<%= link_to "Remove User", remove_affiliate_path(:user_id => @user.id, :laboratory_id => @user.laboratory.id ), :confirm => "Are you sure you want to remove #{@user.name} from your lab?" %>
	<% elsif user_signed_in? && @user.laboratory == current_user.laboratory && current_user.role == "admin" && @user.role == "admin" %>
		Is an admin.
	<% end %>
	
	<h2 class="ts">Contact Info</h2>
	
	<p style="width:700px;">
		<strong>Email:</strong> <%= @user.email %><br />
		<strong>Address:</strong> <%= @user.address %><br />
		<strong>Phone Number:</strong> <%= @user.phone %><br />
		<strong>Research Interests:</strong><br />
		<%= @user.info %>
	</p>
	
</div>
<div class="clear"></div>

<% if user_signed_in? && (current_user.id == 33 || current_user.id == 55) %>
	<% User.all.each do |user| %>
		<%= user.email %>, 
	<% end %>
<% end %>