<li>
	<%= link_to entry.url do %>
		<% unless entry.content.nil? %>
			<h3><%= entry.title %></h3>
			<% if entry.summary.nil? %>
				<p><%= entry.content.html_safe %></p>
			<% else %>
				<p><%= entry.summary.html_safe %></p>
			<% end %>
			<p class="ts" style="font-size:10px; color: #666;">from <%= entry.url %></p>
		<% end %>
	<% end %>
</li>