<% title "Feeds" %>

<div class="fl ts sidebar">

<h2>Your Feeds</h2>

<% if user_signed_in? && (current_user.id == 33 || current_user.id == 55 || current_user.email == "macinne4@msu.edu") %>
	<p class ="ts bs"><%= link_to "Manage Feeds", new_rss_path %></p>
<% end %>
	
	<ul>
		<% @all.each do |rss| %>
			<li style="margin-bottom:10px;">
				<% @feed = Feedzirra::Feed.fetch_and_parse(rss.feed)%>
				<h4><%= link_to "#{@feed.title}", rss_path(rss) %></h4>
				<% if user_signed_in? && (current_user.id == 33 || current_user.id == 55 || current_user.email == "macinne4@msu.edu") %>
					<%= link_to "Delete", rss_path(rss), :method => :delete %>
				<% end %>
				<% if user_signed_in? %>
					<%= render :partial => "follow", :locals => { :feed => rss } %>
				<% end %>
			</li>
		<% end %>
	</ul>

</div>

<% unless @entries.nil? || @entries == [] %>
	<ul id="feed" class="fr">
		<%= render :partial => "feeds", :collection => @entries, :as => :entry %>
	</ul>
<% else %>
	<h2 class="fl" style="margin:50px 0 0 50px;">You haven't followed any feeds yet! <br />Choose some from the menu on the left to follow!</h2>
<% end %>

<div class="clear"></div>

<%= paginate @entries %>