<% title "New RSS Feed" %>

<h2>New RSS Feed</h2>

<p class="bs"><%= link_to "<< Back to RSS Feeds Main page", '/rss' %></p>

<% form_for @rss do |f| %>

	<p>
		<%= f.label :feed, "Feed URL" %><br />
		<%= f.text_field :feed %>
	<p>
		
	<p><%= f.submit %></p>
	
<% end %>

<h3>All Current Feeds</h3>

<ul>
	<% @feeds.each do |feed| %>
		<li>
			<% rss = Feedzirra::Feed.fetch_and_parse(feed.feed) %>
			<%= link_to "#{rss.title}", rss_path(feed) %>
		</li>
	<% end %>
</ul>
