<%= form_for @protocol, :html => { :multipart => true } do |f| %>
	
		<p>
			<%= f.label :name %><br />
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.label :tag_list, "Tags (separate with commas)" %><br />
			<%= f.text_field :tag_list %>
		</p>
		<p>
			<%= f.label :category %><br />
			<%= f.select :category, options_for_select(["protocol", "presentation", "paper"], @protocol.category) %>
		</p>
		<p style="margin-top:10px;">
			<%= f.label :private, "Visible to my lab only." %>
			<%= f.check_box :private %>
		</p>
		<p>
			<%= f.label :attachment %> 
			<%= f.file_field :attachment %>
		</p>
	  <p><%= f.submit "Upload" %></p>
	<% end %>