<!DOCTYPE html>
<html>
<head>
  <title>Lab Collaborate <%= content_for?(:title) ? yield(:title) : "" %></title>
  <%= stylesheet_link_tag 'css' %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
	<%= yield(:head) %>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24969011-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
	
	<header>
		<h1><%= link_to "LabCollaborate", root_path %></h1>
		<nav>
			<ul>
				<% if user_signed_in? %>
					<li>
						<% form_tag search_path, :method => :get, :class => 'search' do %>
							<%= text_field_tag :search, nil, :placeholder => "Search..." %>
							<%= submit_tag "Search" %>
						<% end %>
					</li>
					<li>Welcome <%= link_to current_user.name, user_path(current_user) %></li>
					<li><%= link_to "My Lab", root_path %></li>
					<li><%= link_to "Account Settings", edit_user_registration_path %>
					<li><%= link_to "Signout", destroy_user_session_path %></li>
				<% else %>
					<li><%= link_to "Login", new_user_session_path %></li>
					<li><%= link_to "Register", new_user_registration_path %></li>
				<% end %>
			</ul>
		</nav>
	</header>
	
	<div class="clear"></div>
	
	<div id="container">
		<% flash.each do |name, msg| %>
  	  <%= content_tag :div, raw(msg), :id => "flash_#{name}", :class => "flash" %>
  	<% end %>
  	
		<%= yield %>
	</div>
	
	<footer>
		<ul>
			<li>&copy;<%= Date.today.year %> <%= link_to "Lab Collaborate", root_path %></li>
		</ul>
	</footer>

</body>
</html>
