<!DOCTYPE html>
<html>
<head>
  <title>Lab Collaborate <%= content_for?(:title) ? yield(:title) : "" %></title>
  <%= stylesheet_link_tag 'message' %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
	<%= yield(:head) %>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24969011-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
	
		<% flash.each do |name, msg| %>
  	  <%= content_tag :div, raw(msg), :id => "flash_#{name}", :class => "flash" %>
  	<% end %>
  	
		<%= yield %>

</body>
</html>
